/*********************************************************************** NAVBAR ***********************************************************************/
.navbar-brand {
  font-size: 32px;
  font-weight: 700;
}

.navbar-brand .point {
  color:#E03A3C;
}


/*********************************************************************** HOME ***********************************************************************/
.souligne {
  text-decoration: underline #e03a3c 3px;
}

/* #hero::after {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
} */

#hero {
    background-image: url(herobg.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    padding-top: 182px;
    /* filter: grayscale(75%); */
}



#hero .btn-get-started {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 4px;
    transition: 0.5s;
    margin-top: 30px;
    color: #fff;
    background: #e03a3c;
    border: 2px solid #e03a3c;
}



a {
    text-decoration: none;
}

#hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    color: #fff;
}

#hero h2 {
    color: #fff;
    margin: 10px 0 0 0;
    font-size: 24px;
}
/*********************************************************************** CLIENTS ***********************************************************************/

.slider {
  width: 100%;
  margin: 50px auto;
}

.div1 {
  width: 120px;
  height: 52px;
  margin-right: 60px;
}

.div2 {
  width: 120px;
  height: 42px;
  margin-right: 60px;
}

.div3 {
  width: 120px;
  height: 43px;
  margin-right: 60px;
}

.div4 {
  width: 120px;
  height: 66px;
  margin-right: 60px;
}

.div5 {
  width: 120px;
  height: 43px;
  margin-right: 60px;
}

.div6 {
  width: 120px;
  height: 38px;
  margin-right: 60px;
}

.div7 {
  width: 120px;
  height: 24px;
  margin-right: 60px;
}

.div8 {
  width: 120px;
  height: 42px;
  margin-right: 60px;
}


.div1 {
  background: url(client/client-1.png) center no-repeat;
  background-size: cover;
}

.div2 {
  background: url(client/client-2.png) center no-repeat;
  background-size: cover;
}

.div3 {
  background: url(client/client-3.png) center no-repeat;
  background-size: cover;
}

.div4 {
  background: url(client/client-4.png) center no-repeat;
  background-size: cover;
}

.div5 {
  background: url(client/client-5.png) center no-repeat;
  background-size: cover;
}

.div6 {
  background: url(client/client-6.png) center no-repeat;
  background-size: cover;
}

.div7 {
  background: url(client/client-7.png) center no-repeat;
  background-size: cover;
}

.div8 {
  background: url(client/client-8.png) center no-repeat;
  background-size: cover;
}

.slick-prev, .slick-next{
  visibility: hidden;
}


/* DEFILEMENT */


.clients {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 25px;
}


#caroussel {
  width: 100%;
  overflow: hidden;
}


.slider .img-div{
  display: flex;
  animation-duration: 30s;
  animation-name: mesImages;
  animation-iteration-count: infinite;
  filter: grayscale(1);

}


.slider .img-div:hover {
  filter: grayscale(0);
  cursor: pointer;
}

@keyframes mesImages {
  0% {
    transform: translateX(-30px);
  }
  12.5% {
    transform: translateX(-220px);
  }
  25% {
    transform: translateX(-400px);
  }
  37.5% {
    transform: translateX(-570px);
  }
  50% {
    transform: translateX(-775px);
  }

62.5% {
  transform: translateX(-880px);
}


75% {
  transform: translateX(-980px);
}


87.5% {
  transform: translateX(-1090px);
}


100% {
  transform: translateX(0);
}
}





/*********************************************************************** ABOUT ***********************************************************************/

  /* FOND NOIR */
  .section-bg:before {
    content: "";
    background: #1b1b1b;
    position: absolute;
    bottom: 60px;
    top: 60px;
    left: 0;
    right: 0;
    transform: skewY(-3deg);
  }

  /* AJUSTER FOND NOIR */
  section {
    padding: 60px 0;
    position: relative;
  }
  
  /* TEXTE BLANC */
  .section-bg {
    padding: 120px 0;
    color: #fff;
  }
  
  /* AFFICHER SECTION */
  .about .container {
    position: relative;
  }
  /*  */
  .about .content {
    padding: 30px 30px 30px 0;
  }
  
  .about .content h3 {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 30px;
  }
  
  .about .content p {
    margin-bottom: 30px;
  }
  
  /* BOUTON */
  .about .content .about-btn {
    padding: 8px 30px 9px 30px;
    color: #fff;
    border-radius: 50px;
    transition: 0.3s;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    border: 4px solid #e03a3c;
  }
  

  .about .content .about-btn:hover {
    background: #e03a3c;
  }
  
  .content a {
    color: #e03a3c;
    text-decoration: none;
  }
  
  .about .row img {
    margin-bottom: 10px;
  }
  
/*********************************************************************** CHIFFRES ***********************************************************************/
.chiffres .boite {
  text-align: center;
  box-shadow: 0px 2px 35px rgba(0, 0, 0, 0.06);
}

.chiffres svg {
  color: #E03A3C;
}
  
.chiffres .icons img{
  margin-left: 8px;
}

.chiffres .boite .nombres {
  font-size: 32px;
  font-weight: 800;
}








/*********************************************************************** TABS ***********************************************************************/
.tabs .nav-tabs svg {
  width: 30%;
height: 50%; 
}


.tabs .container {
  position: relative;
}

.tabs img {
  width: 100%;
}

.tabs .nav-tabs button {
  width: 23%;
  height: 100px;
  margin-right: 20px;
  border: solid 1px black;
  text-align: center;
}

.tabs .nav-tabs .nav-link {
  color: black;
  font-weight: 600;
  margin-bottom: 20px;
}

.tabs .nav-tabs {
  border: none;
}

.tabs .nav-tabs .nav-link:hover {
color: #fff;
background-color: #E03A3C;
}

.tab-content .row .tabs-title {
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 10px;
}

.tab-content .row .tabs-text {
  font-size: 16px;
  line-height: 1.6;
}

.tab-content .row .tabs-italic {
  font-size: 16px;
  line-height: 1.6;
  font-style: italic;
}

.tab-content .row .tabs-list {
  font-size: 16px;
  line-height: 1.6;
  margin-top: 15px;
}
.tab-content .row .tabs-list li {
  margin-top: 10px;
}

.tab-content .row .tabs-list ul {
  list-style-type: none;
}

.tab-content .row .tabs-list svg {
  color: #E03A3C;
}

  /*********************************************************************** SERVICES ***********************************************************************/


.service .service-box {
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 6px;
    background: #252525;
}

.service .container {
  position: relative;
}

.service-box img {
  float: left;
  width: 40px;
  height: 40px;
}

.service-box p {
  margin-left: 70px;
}

.service-box h4 {
  margin-left: 70px;
}

.service .title-service {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 20px;
}

.service .text-service {
  font-size: 20px;
  text-align: center;
  margin-bottom: 50px;
}

/*********************************************************************** PORTFOLIO ***********************************************************************/
/* TITRE */
.portfolio .title-portfolio {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.portfolio .text-portfolio {
  font-size: 20px;
  text-align: center;
  margin-bottom: 40px;
}

/* MENU */
.portfolio .menu {
  text-align: center;
}

.portfolio .menu .btn {
  border: none;
}

/* GALERIE */

.portfolio .galerie {
  text-align: center;
  margin-top: 25px;
}

.portfolio .galerie img {
  width: 100%;
  height: 100%;
}



/* APP */
.container1, .container2, .container3, .container4, .container5, .container6, .container7, .container8, .container9{
  position: relative;
  width: 100%;
  cursor: pointer;
  margin: 15px;

}
.container1 img, .container2 img, .container3 img, .container4 img, .container5 img, .container6 img, .container7 img, .container8 img, .container9 img {
  width: 100%;
  opacity: 1;
}

.hovered1, .hovered2, .hovered3, .hovered4, .hovered5, .hovered6, .hovered7, .hovered8, .hovered9 {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  height: 100%; width: 100%;
  opacity: 0; transition: all .3s;
  background-color: #3f3f44;   
}

.container1:hover .hovered1, .container2:hover .hovered2, .container3:hover .hovered3, .container4:hover .hovered4, .container5:hover .hovered5, .container6:hover .hovered6, .container7:hover .hovered7, .container8:hover .hovered8, .container9:hover .hovered9 {
  opacity: 0.6;
}
.hovered1 .app1, .hovered2 .app1, .hovered3 .app1, .hovered4 .app1, .hovered5 .app1, .hovered6 .app1, .hovered7 .app1, .hovered8 .app1, .hovered9 .app1 {
  color: white;
  font-size: 16px;
  position: absolute;
  top: 70%;
  left: 15%;
  font-family: arial;
  transform: translate(-50%, -50%);
  font-weight: 600;
}

.hovered1 .app, .hovered2 .app, .hovered3 .app, .hovered4 .app, .hovered5 .app, .hovered6 .app, .hovered7 .app, .hovered8 .app, .hovered9 .app {
  color: white;
  font-size: 12px;
  position: absolute;
  top: 77%;
  left: 12%;
  font-family: arial;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-style: italic;
  font-weight: 400;
}

.hovered1 .symbole, .hovered2 .symbole, .hovered3 .symbole, .hovered4 .symbole, .hovered5 .symbole, .hovered6 .symbole, .hovered7 .symbole, .hovered8 .symbole, .hovered9 .symbole {
  color: gray;
  font-size: 35px;
  position: absolute;
  top: 85%;
  left: 13%;
  font-family: arial;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-style: italic;
  font-weight: 400;
}

/* EFFET ZOOM */

.portfolio .container1 img, .portfolio .container2 img, .portfolio .container3 img, .portfolio .container4 img, .portfolio .container5 img, .portfolio .container6 img, .portfolio .container7 img, .portfolio .container8 img, .portfolio .container9 img {
  transition: all ease-in-out 0.3s;
}

.portfolio .container1:hover img, .portfolio .container2:hover img, .portfolio .container3:hover img, .portfolio .container4:hover img, .portfolio .container5:hover img, .portfolio .container6:hover img, .portfolio .container7:hover img, .portfolio .container8:hover img, .portfolio .container9:hover img {
  transform : scale(1.2);
}

.portfolio .container1, .portfolio .container2, .portfolio .container3, .portfolio .container4, .portfolio .container5, .portfolio .container6, .portfolio .container7, .portfolio .container8, .portfolio .container9 {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(17, 17, 17, 0.6);
}






/*********************************************************************** TESTIMONIALS ***********************************************************************/


/* TITRE */
.testimonials .title-testimonials {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.testimonials .text-testimonials {
  font-size: 20px;
  text-align: center;
  margin-bottom: 40px;
}


/* CARROUSEL */


.slider-testi {
  width: 450px;
  height: 230px;
  border: 10px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0px 2px 35px rgba(0, 0, 0, 0.09);

}

.slides {
  width: 500%;
  height: 500px;
  display: flex;

}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
  margin: 0;
}

.nom div {
  width: 400px;
  height: 200px;
}

.slide img {
  width: 80px;
  height: 80px;
  float: left;
  margin-right: 10px;
  margin-top: 25px;
  margin-left: 25px;
}

.slide .nom {
  margin-top: 15px;
  font-weight: 600;
}

.slide .fonction {
  font-size: 12px;
  color: gray;
  margin-bottom: 55px;
}

.slide .presentation {
  font-size: 16px;
  font-style: italic;
  margin-top: 15px;
  margin-right: 25px;
  margin-left: 25px;
}

/* css for manual qlide navigation */

.navigation-manual {
  position: absolute;
  width: 400px;
  margin-top: -250px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border : solid 2px #E03A3C;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: #E03A3C;
}

#radio1:checked ~ .first {
margin-left: 0;
}

#radio2:checked ~ .first {
margin-left: -20%;
}

#radio3:checked ~ .first {
margin-left: -40%;
}

#radio4:checked ~ .first {
margin-left: -60%;
}

 #radio5:checked ~ .first {
margin-left: -80%;
}

/* css for automatic navigation */

.navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 640px;
}

.navigation-auto div{
  border: solid 2px #E03A3C;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: #E03A3C;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: #E03A3C;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: #E03A3C;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: #E03A3C;
}

#radio5:checked ~ .navigation-auto .auto-btn5 {
  background-color: #E03A3C;
}



/*********************************************************************** PRICING ***********************************************************************/
.pricing .container {
  position: relative;
}

.pricing .title-pricing {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 20px;
  text-align: center;
}

.pricing .text-pricing {
  font-size: 20px;
  text-align: center;
  margin-bottom: 50px;
}

.pricing .col-lg-4 {
text-align: center;
}

.pricing .card-price ul {
  list-style: none;
  padding: 0;
  line-height: 30px;
  font-size: 14px;

}

.pricing .card-price {
  padding: 20px;
  background: #2b2b2b;
  text-align: center;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.pricing .card-price .month {
  font-size: 42px;
}

.pricing .card-price .title-card-pricing {
  font-size: 18px;
  padding: 15px;
  font-weight: 600;
}

.pricing .card-price .barre {
  text-decoration:line-through ;
  color: rgba(255, 255, 255, 0.5);
}


/* RED CARD */
.pricing .card-price-red {
  padding: 20px;
  background: #E03A3C;
  text-align: center;
  border-radius: 8px;
  position: relative;
}

.pricing .card-price-red .month {
  font-size: 42px;
}

.pricing .card-price-red .title-card-pricing {
  font-size: 18px;
  padding: 15px;
  font-weight: 600;
}

.pricing .card-price-red .barre {
  text-decoration:line-through ;
  color: rgba(255, 255, 255, 0.5);
}

.pricing .card-price-red ul {
  list-style: none;
  padding: 0;
  line-height: 30px;
  font-size: 14px;

}

/* BOUTON */
.pricing  .btn-wrap {
  padding: 15px;
}

.pricing .btn-buy {
  display: inline-block;
  padding: 10px 40px 12px 40px;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border: 2px solid rgba(255, 255, 255, 0.3);
}

.pricing .btn-buy:hover {
  border-color: #fff;
}






/*********************************************************************** QUESTIONS ***********************************************************************/

.question .container {
  position: relative;
}

.question .title-question {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 20px;
  text-align: center;
}

/************************ ACCORDION ************************/
.question .accordion-body {
  color: #444444;
  font-size: 16px;
}

.question .accordion-button {
  color: #343a40;
  font-size: 18px;
}

.question .accordion-button:hover {
  color: #E76668;
}





/*********************************************************************** TEAM ***********************************************************************/

/* / team titre / */
.titre {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  position: relative;
  color: #fff;
}
/* / texte / */
.team .para {
  font-size: 20px;
  text-align: center;
  position: relative;
  color: #fff;
}

.row {
  padding-bottom: 5px;
}
/* / les 4 colonnes / */
.card-text {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #111111;
}

.card-text5 {
  display: block;
  font-size: 12px;
  font-weight: 400;
  color: #aaaaaa;
}


/* / trait rouge */ 
.trait {
  background-color: #e03a3c;
  width: 50px;
  height: 3px;
  margin-left: 125px;
  margin-top: 20px;
}




/*********************************************************************** CONTACT ***********************************************************************/

.titre2{
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  position: relative;
  color: #444444;
  text-align: center;

}
.para2 {
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 0px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  text-align: center;
  padding-bottom: 0px;
  position: relative;

  color: #444444;
}
.bx {
 font-family: boxicons!important; 
font-weight: 400;
font-style: normal;
font-variant: normal;
line-height: 1;
text-rendering: auto;
display: inline-block;
text-transform: none;

-webkit-font-smoothing: antialiased;
}


.trait2 {
  background-color: #e03a3c;
  width: 50px;
  height: 3px;
  margin-left: 125px;
  margin-top: 20px;

}

.map{

  border: solid 1px red;
}

.fin{
  padding: 60px 0 30px 0;
  background: #1b1b1b;

}

.parent {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  }

  .div10 { grid-area: 1 / 1 / 5 / 5; 
  text-align: center;}
  .div20 { grid-area: 5 / 1 / 9 / 3;
  text-align: center; }
  .div30 { grid-area: 5 / 3 / 9 / 5;
  text-align: center; }
  .div40 { grid-area: 1 / 5 / 9 / 9;
  text-align: center; }

.contact .tel1 {
  margin-bottom: 0;
}

.contact .div10 {
  color: #444444;
  text-align: center;
  box-shadow: 0 0 30px rgb(214 215 216 / 60%);
  padding: 30px 0 32px 0;
  border-radius: 4px;
  width: 636px;
  height: 182px;

}

.contact .div20 {
  color: #444444;
  text-align: center;
  box-shadow: 0 0 30px rgb(214 215 216 / 60%);
  padding: 30px 0 32px 0;
  border-radius: 4px;
  width: 306px;
  height: 206px;
}


.contact .div30 {
  color: #444444;
  text-align: center;
  box-shadow: 0 0 30px rgb(214 215 216 / 60%);
  padding: 30px 0 32px 0;
  border-radius: 4px;
  width: 306px;
  height: 206px;
}

.contact .div40 {
  box-shadow: 0 0 30px rgb(214 215 216 / 60%);
  padding: 30px;
  border-radius: 4px;
  width: 636px;
  height: 396px;
}

.contact .adresse , .us , .call{
  font-size: 20px;
  color: #777777;
  font-weight: 700;
  margin: 10px 0;
}

.contact .espace-email-form .form-group {
  margin-bottom: 25px;
}

.contact .espace-email-form button {
  background: #e03a3c;
  border: 0;
  padding: 10px 32px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.logo point  {


height: 52px;
width: 52px;
font-size: 32px;
color: #e03a3c;

}







/*********************************************************************** FOOTER ***********************************************************************/


#footer {
  color: #fff;
  font-size: 14px;
  background: #111111;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #1b1b1b;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 26px;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-contact h3 span {
  color: #e03a3c;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top h4::after {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  background: #e03a3c;
  bottom: 0;
  left: 0;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: white;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #aaaaaa;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #fff;
}

#footer .footer-newsletter {
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 5px 10px;
  position: relative;
  border-radius: 4px;
  text-align: left;
}

#footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: -1px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #e03a3c;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type=submit]:hover {
  background: #e35052;
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #2b2b2b;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  
}

#footer .social-links a:hover {
  background: #e03a3c;
  color: #fff;
  text-decoration: none;
}


/* BOUTON PIED DE PAGE */
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #e03a3c;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.align-items-center {
  align-items: center!important;
}

a {
  color: #E03A3C;
  text-decoration: none;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}